{
  "device": {
    "identifiers": [
      "vallox2mqtt_{{.DeviceId}}"
    ],
    "manufacturer": "Vallox",
    "model": "Digit SE Ventilation Unit",
    "name": "{{.DeviceName}}",
    "sw_version": "Vallox2MQTT {{.Version}}"
  },
{{if ne .DeviceClass ""}}
  "device_class": "{{.DeviceClass}}",
{{end}}
  "name": "{{.EntityName}}",
  "state_topic": "vallox2mqtt/{{.DeviceId}}/state",
  "unique_id": "vallox2mqtt_{{.DeviceId}}_{{.EntityId}}",
  "value_template": "{{`{{`}} value_json.{{.EntityId}} {{`}}`}}",
  "unit_of_measurement": "{{.UnitOfMeasurement}}"
}
